#paper {
    width: 40%;
    height: 100%;
    /* border: 1px solid black; */
    box-shadow: 1px 1px 5px;
    padding-top: 5px;

    margin: auto;
    margin-top: 10px;
}
#paper button, input {
    height: 25px;
    margin-top: 1px;
    margin-bottom: 1px;
    line-height: normal;
}


@media only screen and (max-width: 1000px) {
    #paper {
        width: 80%;
    }
}

#content * {
    line-height: 27px;
}




#content{ 
    background: repeating-linear-gradient(
    white, white 25px,
    #9198e5 26px, #9198e5 27px
    );
    min-height: 70vh;
    padding-bottom: 27px;
}
#paper p {
    margin: 0;
    padding-top: 0px;
}

#paper h1, h2{
    margin-top: 27px;
    margin-bottom: 0px;
}

#paper h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

#paper ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

#paper br {
    height: 27px;
}

#paper header {
 height: max(40px, 100%);
 background: linear-gradient(
  white, white 95%,
  pink 97%, pink 100%);
}