@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
div {
    text-align: center;
}
#word-box div {
    display: inline-block;
    width: 200px;
}

#word-box p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bold;
    color: rgb(53, 44, 31);
}
